<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Shadows of Stolen Riches</h1>
  </div>

  <div class="story_container">
    <p>It was a/an <strong><%= @adj_one %></strong> night in the city of <strong><%= @city %></strong>. The notorious Shadow Syndicate, a gang of 4 clever thieves, had set their eyes on the Grand National Bank. Their plan was <strong><%= @adj_two %></strong> and <strong><%= @adj_three %></strong>.</p>

    <p>Each member of the gang had a specific role:</p>

    <ul>
      <li><strong><%= @name_one %></strong>, the <strong><%= @adj_four %></strong> mastermind, who came up with the plan.</li>
      <li><strong><%= @name_two %></strong>, the tech wizard, equipped with a/an <strong><%= @device %></strong> to disable the security system.</li>
      <li><strong><%= @name_three %></strong>, the driver, who could handle any getaway vehicle, even a <strong><%= @vehicle_one %></strong>.</li>
      <li><strong><%= @name_four %></strong>, the muscle, strong as a/an <strong><%= @animal %></strong>, who could carry the heavy <strong><%= @plural_noun_one %></strong>.</li>
    </ul>

    <p>At exactly <strong><%= @time %></strong>] PM, they made their move. <strong><%= @name_four %></strong> torn off the cover to the air vents on the ceiling of the bank. Clad in <strong><%= @color %></strong> attire and with <strong><%= @adj_five %></strong> precision, they slipped into the bank. The security system was no match for <strong><%= @name_two %></strong> and their <strong><%= @device %></strong>.</p>

    <p>As they reached the vault, they were greeted by stacks of <strong><%= @plural_noun_two %></strong>. They filled their <strong><%= @container %></strong> with the most valuable items they could find. But just as they were about to leave, they heard a <strong><%= @sound %></strong> behind them. It was Officer <strong><%= @name_five %></strong>, the bank's security guard.  They were running to the panic switch to alert the police of the heist.</p>

    <p>Thinking quickly, <strong><%= @name_one %></strong> created a diversion by throwing a <strong><%= @object %></strong> towards the entrance. Starled by the sound, thinking there might be more to the Shadow Syndicate, Officer <strong><%= @name_five %></strong> ducked behind a <strong><%= @furniture %></strong> In the confusion, the gang made their escape outside where <strong><%= @name_three %></strong> was waiting in their get-away <strong><%= @vehicle_two %></strong>.</p>

    <p>Legends say that the Shadow Syndicate vanished with over <strong><%= @number %></strong> dollars in loot. To this day, the tale of their heist is told in whispers throughout <strong><%= @city %></strong>.</p>
  </div> <!-- story container -->
</html>
