<div class="title">
  <h1><%= @title %>.captialize</h1>
</div>

<div class="input_form">
  <form action="/<%= @genre %>/<%= @sub_genre %>/filled_story" method="POST">

    <% @placeholders.each do |placeholder| %>
      <div class="form-group-row">
        <label class="col-form-label col-sm-3" for="<%= placeholder %>"><%= placeholder.humanize %>:</label>
        <div class="col-sm-9"
          <input type="text" class="form-control" name="<%= placeholder %>" id="<%= placeholder %>"><br>
        </div>
        <% end %>
    </div>

    <div class="row"
    <div class="col-sm-9 offset-sm-3">
      <button class="btn btn-success" type="submit" name="mode" value="user_only">Generate</button>
      <button class="btn btn-warning" type="submit" name="mode" value="use_ai">Fill Missing with AI</button>
      </div>
    </div>
  </form>
</div>
