<!DOCTYPE html>

<html>
  <div class="title">
    <h1>The Unyielding Lancer</h1>
  </div>

  <div class="story_container">
<p>In the grand kingdom of <strong><%= @kingdom %></strong>, a magnificent jousting tournament was about to commence. Knights from all corners of the realm gathered at the arena, eager to compete for the coveted <strong><%= @metal_one %></strong> <strong><%= @noun %></strong>, and the <strong><%= @body_part_one %></strong> of the <strong><%= @adj_one %></strong> Lady <strong><%= @lady %></strong>.</p>

<p>As the first round's challangers were announced, the crowd's attention fell to Sir <strong><%= @knight_one %></strong>, a knight known for his prowess and courage, and Sir <strong><%= @knight_two %></strong>, known for his cunning and persistence. The air was filled with excitement as spectators cheered, waving banners emblazoned with <strong><%= @color_one %></strong> emblems showing support for <strong><%= @knight_one %></strong> or <strong><%= @color_two %></strong> for Sir <strong><%= @knight_two %></strong>.</p>

<p>The challangers entered the joust field at separate ends. Sir <strong><%= @knight_two %></strong>, whose <strong><%= @metal_two %></strong> armor gleamed under the sun was staring down Sir <strong><%= @knight_one %></strong>. As the <strong><%= @instrument %></strong> sounded, the knights charged, lances poised, determined to <strong><%= @adverb %></strong> unseat their opponent. The clash was loud, and the crowd roared as Sir <strong><%= @knight_one %></strong> emerged victorious.</p>

<p>Sir <strong><%= @knight_two %></strong> was lying on the ground, his head still ringing from the impact.  But he was determined not to fail the Lady <strong><%= @lady %></strong>.  As the rounds continued, it became apparent that a rematch was going to determine the final fate for the Lady <strong><%= @lady %></strong>'s <strong><%= @body_part_one %></strong>. Preparing for the final round, Sir <strong><%= @knight_two %></strong> visited the tent of the <strong><%= @adj_two %></strong> blacksmith, who offered to reinforce his <strong><%= @armor %></strong>. </p>

<p>Stepping onto the field, the tension was palpable. The <strong><%= @instrument %></strong> sounded. The lances met with a thunderous clash, and with a masterful strike, Sir <strong><%= @knight_two %></strong> claimed victory, earning the title of champion and the <strong><%= @metal_one %></strong> <strong><%= @noun %></strong>. He approached the Lady <strong><%= @lady %></strong>, and kissed her oustreated <strong><%= @body_part_two %></strong>. The celebration lasted <strong><%= @number %></strong> days and nights, with feasts honoring the gallant jousters. Sir <strong><%= @knight_two %></strong> had etched their name into history, a true legend of <strong><%= @kingdom %></strong>.</p>
  </div> <!-- story container -->
</html>
