<!DOCTYPE html>

<html>
  <div class="title">
    <h1>The Dragon's Provocation</h1>
  </div>

  <div class="story_container">
    <p>In the deep, echoing halls beneath <strong><%= @mountain %></strong>, a group of brave dwarves gathered around the flickering light of a lanturn. The legendary dwarf hero, <strong><%= @dwarven_name %></strong>, had returned from the mines with an ancient <strong><%= @noun %></strong> that glowed with a mysterious <strong><%= @color_one %></strong> light.</p>

    <p>The dwarves had long heard tales of the <strong><%= @adj_one %></strong> treasure hidden deep within the <strong><%= @cavern %></strong> of <strong><%= @mountain %></strong>. This hoard was guarded by the fearsome dragon, <strong><%= @dragon_name %></strong>, whose scales shimmered like <strong><%= @metal %></strong>. Only the bravest, or perhaps the most <strong><%= @adj_two %></strong>, could face the dragon and retrieve the treasure.</p>

    <p>Armed with their trusty <strong><%= @weapon %></strong> and a flask of <strong><%= @beverage %></strong>, the dwarves set out on their quest. They marched <strong><%= @adv_one %></strong> through winding tunnels, their spirits lifted by the sounds of <strong><%= @instrument %></strong> and the taste of freshly-baked <strong><%= @food %></strong>.</p>

    <p>Their journey was fraught with peril. They had to cross the <strong><%= @building_material %></strong> Bridge, solve the riddle of the <strong><%= @creature %></strong>, and avoid the wrath of the <strong><%= @adj_three %></strong> <strong><%= @animal %></strong> that lurked in the shadows. As they drw closer and closer to the dragon's lair, the sounds of the <strong><%= @instrument %></strong> grew softer and softer until you could not hear them anymore.</p>

    <p>Finally, they reached the dragon's lair. <strong><%= @dragon_name %></strong> towered above them, its eyes glowing with <strong><%= @color_two %></strong> fire. His nostril's flaired as <strong><%= @adj_four %></strong> smoke poured out. With courage and cleverness, the dwarves outwitted the dragon, distracting it with a glittering <strong><%= @object %></strong> while <strong><%= @dwarven_name %></strong> <strong><%= @adv_two %></strong> claimed the legendary hoard.</p>

    <p>Returning to the halls beneath <strong><%= @mountain %></strong>, they were hailed as heroes. The stone corridors rang with laughter and tales of their exploits, while <strong><%= @dwarven_name %></strong> lifted a tankard of <strong><%= @beverage %></strong> to celebrate. However as they celebrated, <strong><%= @dragon_name %></strong> discovered that his hoard had been taken.  Unbeknownst to the dwarves, <strong><%= @dragon_name %></strong> had begin their climb out of <strong><%= @cavern %></strong> seeking revenge.</p>
  </div> <!-- story container -->
</html>
