<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Murder at Midnight</h1>
  </div>

<div class="story_container">
    <p>It was a <strong><%= @adj_one %></strong> night in <strong><%= @village %></strong>. The moon cast eerie shadows over the cobblestone streets as Detective <strong><%= @name_one %></strong>, known for their <strong><%= @adj_two %></strong> skills and razor-sharp instincts, received a call about a <strong><%= @adj_three %></strong> murder at the <strong><%= @building %></strong>.</p>

    <p>The victim, <strong><%= @name_two %></strong>, a renowned <strong><%= @occupation %></strong>, was found dead. Witnesses reported hearing a <strong><%= @sound %></strong> followed by a <strong><%= @emotion %></strong> scream just before the maid discovered the body. The room was in disarray, with a broken <strong><%= @object_one %></strong> on the floor, an overturned <strong><%= @furniture_one %></strong>, and a mysterious <strong><%= @color %></strong> stain on the Parisian carpet.</p>

    <p>Detective <strong><%= @name_one %></strong> examined the scene carefully, noticing a trail of <strong><%= @liquid %></strong> leading to a hidden <strong><%= @object_two %></strong> under the <strong><%= @furniture_two %></strong>. There was also a <strong><%= @adj_four %></strong> note clutched in the victim's hand, hinting at a secret debt.</p>

    <p>Interviewing the suspects revealed a tangled web of secrets and lies:</P>

    <ul>
      <li><strong><%= @name_three %></strong>, the maid, who claimed they were cleaning at the time of the murder, had a fustered alibi that was not substantiated given the state of the <strong><%= @room %></strong>.</li>
      <li><strong><%= @name_four %></strong>, the cook, who was spotted holding a pen and paper matching the note in the victim's hand, near the scene and had a <strong><%= @adj_five %></strong> history with the victim.</li>
      <li><strong><%= @name_five %></strong>, the butler for the victim, was not able to provide an alibi.</li>
    </ul>

    <p>Using their <strong><%= @adj_two %></strong> instincts and piecing together the clues, Detective <strong><%= @name_one %></strong> discovered an identical hidden <strong><%= @object_two %></strong> in the butler's bedroom, which revealed the true culprit. Later at the police station, <strong><%= @name_five %></strong>'s fingerprints were found on the <strong><%= @object_two %></strong>, and the butler <strong><%= @adverb %></strong> confessed after seeing the overwhelming evidence.</p>

    </p>As the case closed, Detective <strong><%= @name_one %></strong> enjoyed a morning <strong><%= @beverage %></strong>, pondering the fickle nature of humanity and the sad twists of fate that had led to such a <strong><%= @adj_six %></strong> crime.</p>
  </div> <!-- story container -->
</html>
