<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Whispering Hollows Asylum</h1>
  </div>

  <div class="story_container">
    <p>It was a <strong><%= @adj_one %></strong> and <strong><%= @adj_two %></strong> night when a group of adventurers <strong><%= @adv_one %></strong> gathered outside the notorious asylum known as "Whispering Hallows." They hesitated at the entrance, the doors groaning ominously as they pushed it open, stepping <strong><%= @adv_two %></strong> into the oppressive darkness.</p>

    <p>A <strong><%= @adj_three %></strong> chill wrapped around them as they moved through the <strong><%= @adj_four %></strong> halls. Suddenly, a <strong><%= @adj_five %></strong> scream shattered the silence, echoing from a distant <strong><%= @place %></strong> down the corridor. The walls seemed to <strong><%= @verb_one %></strong> around them, closing in with each cautious step, and the floorboards felt <strong><%= @adj_six %></strong> beneath their feet.</p>

    <p>With hearts pounding, they stumbled into the <strong><%= @place %></strong>.  It was filled with <strong><%= @plural_noun_one %></strong>, each one <strong><%= @verb_two %></strong> in the murky gloom. They exchanged <strong><%= @adj_seven %></strong> glances, a <strong><%= @adj_eight %></strong> sense of unease settling over them.</p>

    <p>In the corner, a <strong><%= @adj_nine %></strong> figure with <strong><%= @color_one %></strong> eyes gleaming in the darkness watched them intently. The Asylum's doctor stepped <strong><%= @adv_three %></strong> from the darkness, revealing a stain labcoat, drenched in <strong><%= @color_two %></strong> liquid. A <strong><%= @adj_ten %></strong> laugh reverberated through the <strong><%= @place %></strong>, shaking the <strong><%= @plural_noun_two %></strong> and urging the adventurers to retreat <strong><%= @adv_four %></strong> through the labyrinthine corridors.</p>

    <p>Suddenly, a <strong><%= @object %></strong> from above crashed down, sealing their only escape, and silencing their screams. Panic set in as they realized the doctor had them trapped. Outside, the <strong><%= @adj_eleven %></strong> moon cast quiet shadows that seemed to (VERB) and (VERB) in the wind, while the air grew thick with <strong><%= @noun %></strong>.</p>
  </div> <!-- story container -->
</html>
