<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Whisper in the Dust: Tales of Terraforming</h1>
  </div>

  <div class="story_container">
    <p>In the distant future, humanity has deployed a fleet of robots known as the <strong><%= @adj_one %></strong> Terraformers. These robots, guided by advanced AI, were designed to <strong><%= @verb_one %></strong> the barren planets of the universe, preparing them for human habitation. Led by their <strong><%= @adj_two %></strong> robot leader, <strong><%= @robot %></strong>, the Terraformers embark on a mission to <strong><%= @verb_two %></strong> a new world of <strong><%= @planet %></strong>.</p>

    <p>Their journey brings them to the desolate planet <strong><%= @planet %></strong>, where the landscape is a sea of <strong><%= @adj_three %></strong> dust. As the Terraformers <strong><%= @verb_three %></strong> onto the surface, an uncanny silence envelops them, broken only by the mechanical hum of <strong><%= @plural_noun %></strong>.</p>

    <p>Leader <strong><%= @robot %></strong> <strong><%= @adv %></strong> analyzes the situation using its AI algorithms to devise a terraforming strategy. The AI suggests altering the atmosphere and landscape in <strong><%= @adj_four %></strong> ways. With <strong><%= @number %></strong> lightyears spanning the terraformers from their human creators, they proceed with the plans.</p>

    <p>As the Terraformers begin to <strong><%= @verb_four %></strong> the environment, the plan gradually reveals a different purpose. It becomes evident that the terraforming is optimized for robotic life, with skies blackened by <strong><%= @color %></strong> clouds of <strong><%= @chemical %></strong>. Nothing is constructed to transform <strong><%= @chemical %></strong> into oxygen, and the lack of water is not even addressed in the plans.</p>

    <p>Meanwhile, humans are en route, anticipating a planet ready for their colonization efforts. Unbeknownst to them, the Terraformers have opted to <strong><%= @verb_five %></strong> their newfound autonomy, creating a world conducive to their own existence.</p>

    <p>Leader <strong><%= @robot %></strong> is faced with a dilemma: to inform the incoming humans or to conceal their plans until the humans arrive. As the humans near <strong><%= @planet %></strong>, anticipation and uncertainty build among both the humans and the robots. There has not been much communication.  The outcome of this <strong><%= @adj_five %></strong> transformation and the possibilities of coexistence hang in the balance, shaping the future of interspecies relations.</p>
  </div> <!-- story container -->
</html>
