<!DOCTYPE html>

<html>
  <div class="title">
    <h1>Phase Shifting</h1>
  </div>

  <div class="story_container">
    <p>In the bustling city of <strong><%= @city %></strong>, hidden beneath layers of <strong><%= @adj_one %></strong> technology, there was a top-secret laboratory known as <strong><%= @lab %></strong>. This lab, led by the visionary Dr. <strong><%= @scientist %></strong>, was experimenting with an extraordinary type of radiation called <strong><%= @radiation %></strong>.</p>

    <p>One day, a <strong><%= @adj_two %></strong> accident occurred, releasing the <strong><%= @radiation %></strong> across the city in waves of <strong><%= @color %></strong> energy. Suddenly, every citizen of <strong><%= @city %></strong> could move at blistering speeds, transforming the mundane into an exhilarating rush. Speed limits became a thing of the past, as people were traveling so fast they <strong><%= @verb %></strong>.</p>

    <p>The streets echoed with the sounds of rapid footsteps and the hum of hyper-speed travel. <strong><%= @city %></strong> was now a place where <strong><%= @plural_noun %></strong> darted past, and buildings resonated with the pulse of accelerated <strong><%= @noun_one %></strong>.The major of the <strong><%= @city %></strong> called for an immediate sealing off of the city, fearing the side effects of the radiation.  Citizens found themselves quarentined from the outside world, as their city became <strong><%= @being %></strong>.</p>

    <p>As the city demanded the laboratory run tests, a decision loomed over its inhabitants: to harness their speed for good, becoming champions like the renowned <strong><%= @hero %></strong>, or to exploit it for personal gain and chaos like the notorious <strong><%= @villian %></strong>.</p>

    <p>Amidst the whirlwind, <strong><%= @name %></strong>, a resident of <strong><%= @neighborhood %></strong>, faced a pivotal choice. With a <strong><%= @noun_two %></strong> in one hand and dreams in the other, they pondered the direction their life would take. Would they become a hero, dedicated to <strong><%= @verb_two %></strong> and <strong><%= @verb_three %></strong>? Or a villain, driven by <strong><%= @adj_three %></strong> ambitions?</p>

    <p>Their decision would shape not only their destiny but the future of <strong><%= @city %></strong>, where everything pulsed <strong><%= @adv %></strong> to a newfound rythem.</p>
  </div> <!-- story container -->
</html>
